$shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 3px 13px 0 rgba(0,0,0,0.19);
$roboto:  'Roboto', sans-serif;
$pink: rgb(240, 110, 175);

@media(max-width:1199px){


#url{
    box-shadow: $shadow;
    border-style: none;
    border-radius:15px;
    font-family: $roboto;
    font-style:italic;
    margin-left: 3w;
}

#submit{
    background-color: $pink;
    color: rgb(245, 241, 244);
    font-family:$roboto;
    border-radius:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:3vh;
    border-style: none;
    margin-top:5vh;
    box-shadow:$shadow;
    margin-left:3vw;
}

input {
    padding-top:10px;
    padding-bottom:10px;
    width: 90%;
    line-height: 16px;
    margin-left: 3vw;
}

#results{
    font-family: $roboto;
    font-size: 2.5vw;
    padding-left:10vw;
    padding-bottom:10vh;
    padding-top:3vh;
    
}

#confidence{
    padding-bottom:2vh;
}

#polarity{
    padding-bottom:2vh;
}

#obj{
    padding-bottom:2vh;        
}

}

@media(min-width:1200px){
    #url{
        box-shadow: $shadow;
        border-style: none;
        border-radius:15px;
        font-family: $roboto;
        padding-left:3vw;
        font-style:italic;
        margin-left: 3w;
    }
    
    #submit{
        background-color:$pink;
        color: rgb(245, 241, 244);
        font-family: $roboto;
        border-radius:15px;
        padding-top:10px;
        padding-bottom:10px;
        font-size:3vh;
        border-style: none;
        margin-top:5vh;
        box-shadow: $shadow;
        margin-left:3vw;
    }
    
    input {
        padding-top:10px;
        padding-bottom:10px;
        width: 90%;
        line-height: 16px;
        margin-left: 3vw;
    }
    
    #results{
        font-family: $roboto;
        font-size: 1.5vw;
        padding-bottom:10vh;
        padding-top:3vh;
       
    }
    
    #confidence{
        padding-bottom:2vh;
    }
    
    #polarity{
        padding-bottom:2vh;
    }
    
    #obj{
        padding-bottom:2vh;        
    }


    
    }