

@media (max-width:599px){
    
    #logo{
        background-image: url('logo.jpg');
        background-size: cover;
        width: 100vw;
        height: auto;
    }
};

@media(min-width:600px){
#logo{
    background-image: url('logo.jpg');
    background-size: cover;
    width: 50vw;
    height: 60vh;
}
}

